<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.spbau.android.examples" >

    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".SMSReceiver"
            android:enabled="true"
            android:exported="true" >

            <!-- exported must be true to receive system-wide notifications -->

            <intent-filter android:priority="1" >

                <!--
                 priority must be greater than 0, because default sms manager has priority 0
                 and we need to handle incoming sms before default manager
                -->
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".SMSActivity"
            android:label="@string/title_activity_sms" >
        </activity>

        <service
            android:name=".DatabaseService"
            android:exported="false" >
        </service>
    </application>

</manifest>
